@{
    ViewBag.Title = "ASP.NET MVC";
}

<h2>@ViewBag.Message</h2>

@*Content of the page*@
<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="a">
    <li data-role="list-divider">Chapter 12</li>
    <li>@Html.ActionLink("Read content", "Content", "Home")</li>
    <li>@Html.ActionLink("Run samples", "Samples", "Home")</li>
    <li data-role="list-divider">General</li>
    <li>@Html.ActionLink("About the author", "About", "Home")</li>
    <li>
        @Html.ActionLink("About the publisher", "About", "Home")
    </li>
    <li>
        @Html.ActionLink("Related books", "About", "Home")
        <span class="ui-li-count">3</span>
    </li>
</ul>

