@model MultiView2.ViewModels.Home.IndexViewModel

<table class="menu">
    <tr>
        <td><img src="@Url.Content("~/Content/Images/scores_normal.png")" /></td>
        <td><img src="@Url.Content("~/Content/Images/oop_normal.png")" /></td>
        <td><img src="@Url.Content("~/Content/Images/draws_normal.png")" /></td>
    </tr>
    <tr>
        <td><img src="@Url.Content("~/Content/Images/videos_normal.png")" /></td>
        <td><img src="@Url.Content("~/Content/Images/supertennis_normal.png")" /></td>
        <td><img src="@Url.Content("~/Content/Images/news_normal.png")" /></td>
    </tr>
    <tr>
        <td><img src="@Url.Content("~/Content/Images/fb_normal.png")" /></td>
        <td><img src="@Url.Content("~/Content/Images/about_normal.png")" /></td>
        <td><img src="@Url.Content("~/Content/Images/twitter_normal.png")" /></td>
    </tr>
</table>
