@using MultiLanguage.Resources.Menus
@model MultiLanguage.ViewModels.ViewModelBase
@using BookSamples.Components.Localization;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width;user-scalable=no" />
    <title>@Model.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/content/styles/site.css", localizable:true)" />
</head>
    <body>
        <div id="langdisplay">
            @Html.ActionLink(Menu.Lang_IT, "Set", "Language", new { lang = "it" }, null)
            @Html.ActionLink(Menu.Lang_EN, "Set", "Language", new { lang = "en" }, null)
        </div>    
        <hr/>    
        @RenderBody()

        <script type="text/javascript" src="~/content/scripts/jquery-1.9.1.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
