@using System.Web.Optimization
@model JsFun.ViewModels.ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width;user-scalable=no" />
    <title>@Model.Title</title>
@*    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/site.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Styles/sprite.css")" />*@
    @Styles.Render("~/mycss")
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="@Url.Content("~/content/scripts/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/scripts/namespace.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
