@model MultiView2.ViewModels.ViewModelBase

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@Model.Title</title>
        <link href="@Url.Content("~/Content/Styles/site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Styles/site.tablet.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="header">@Model.Title (tablet)</div>
        
        @RenderBody()
    </body>
</html>
